<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amadon</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
</head>

<body class="container">
    <h3 class="mt-5">Thank you for your business!</h3>
    <p>We charged your credit card for ${{total_charge}}</p>
    <p>You have ordered {{num_of_orders}} items so far and spent ${{all_charges}} with Amadon.com!</p>
    <p><a href="/">Go Back</a></p>
</body>

</html>