<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amadon</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
</head>

<body class="container">
    <h1 class="mt-5">Amadon Store!</h1>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in all_products %}
            <tr>
                <form action="/process" method="post">
                    {% csrf_token %}
                    <td>{{product.description}}</td>
                    <td><input type="hidden" name="price" value="{{product.price}}">{{product.price}}</td>
                    <td><select name="quantity" class="form-control">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select></td>
                    <td><input type="submit" value="Buy!" class="btn btn-primary"></td>
                </form>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>